@import './base.css';
@import './tailwind.css';
@import './vant.less';

.hidden-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

#app::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  color: var(--primary-color);
}

#app {
  height: 100%;
  width: 100%;
}

input:-internal-autofill-selected {
  background-color: none !important;
}
