.van-checkbox__icon--square {
  .van-badge__wrapper {
    border-radius: 4px;
  }
}
.van-field__button {
  span {
    display: flex;
    align-items: center;
  }
}

.van-button__content {
  .van-button__text {
    font-weight: 500;
  }
}
